---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700');

body {
  font:14px/1.5 "LXGW WenKai Mono TC", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  padding:15px 20px;
  font-size:18px;
  border-top:1px solid #fff;
  background: linear-gradient(#fafafa, #DEDEDE 700px);
  border-radius: 0 0 8px 8px;
  position:relative;
}
