---
---

@import "{{ site.theme }}";
section {
  padding:15px 20px;
  font-size:18px;
  border-top:1px solid #fff;
  background: linear-gradient(#fafafa, #DEDEDE 700px);
  border-radius: 0 0 8px 8px;
  position:relative;
}
